        body{
            margin: 0;
            background-color: #eaeaea;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Default computer font for general formatting*/
        }
        a{
            text-decoration: none;
        }
        sup{
            font-size: 8px;
        }
        .logo{
            width: 200px;
            height: auto;
        }
        header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 5vw;
        }
        .left-nav a, .right-nav a{
            font-size: 1rem;
            color: #333;
            text-transform: uppercase;
            font-weight: bold;
        }
        .hero{
            margin: 1vh 5vw;
            display: flex;
            flex-direction: column;
        }
        .hero-top{
            background-image: url("images/hero-4.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 60vh;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
        .hero-top h3{
            color: white;
            font-family: 'Roboto', sans-serif; /*Google Fonts 'Roboto' hosted online and embedded in HTML*/
            font-size: 8vw;
            margin: 0;
            text-align: center;
            padding-top: 2vh;
        }
        .hero-bottom{
            background-color: black;
            color: white;
            text-align: center;
            font-family: 'Montserrat', sans-serif; /*Google Fonts 'Montserrat' hosted online and embedded in CSS*/
            font-optical-sizing: auto;
            font-weight: 100;
            font-style: normal;
            padding: 5vh 5vw;
        }
        .hero-headline{
            font-weight: bold;
            margin-bottom: 3vh;
            font-size: clamp(1.3rem, 5vw, 2.5rem);
        }
        .hero-text{
            font-size: 1.3rem;
            margin-bottom: 6vh;
        }
        .hero-btn{
            background-color: white;
            color: black;
            padding: 1rem 2rem;
            display: inline-block;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            border-radius: 5px;
            max-width: 90%;
            cursor: pointer;
            transition: background-color 0.4s ease-in;
        }
        .hero-btn:hover{
            background-color: #ccc;
        }
        .info{
            margin: 3vh 5vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            background-color: white;
            padding: 5vh 5vw 0 5vh;
        }
        .info-left{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .info-left h2{
            font-size: 6vw;
            margin: 0;
        }
        .info-left p{
            font-size: 1.3rem;
        }
        .info-left a{
            color: #c80c0c;
            font-weight: bold;
            transition: color 0.4s ease;
        }
        .info-left a:hover{
            cursor: pointer;
            color: red;
        }
        .images{
            margin: 3vh 5vw;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 1fr;
            gap: 2rem;
            background-color: white;
            padding: 5vh 5vw;
            overflow: hidden;
            font-family: 'Oswald', sans-serif; /*Google Fonts 'Oswald' hosted online and embedded in HTML*/
        }
        .images div:first-child{
            flex-direction: column;
            padding-top: 0rem;
            text-align: center;
        }
        .images > div {
            display: flex;
            padding: 2rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            justify-content: center;
        }
        .line-circle{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -170px;
        }
        .line{
            width: 2px;
            height: 170px;
            background-color: red;
        }
        .circle{
            width: 13px;
            height:13px;
            border: 3px solid red;
            border-radius: 50%;
            margin-top: 10px;
        }
        .bottom-left {
            grid-row: span 2;
        }
        .top-right{
            background-image: url(images/more-img-1.png);
            height: 40vh;
        }
        .bottom-left{
            background-image: url(images/more-img-2png.png);
        }
        .bottom-right-top{
            background-image: url(images/more-img-5.png);  
        }
        .bottom-right-bottom{
            background-image: url(images/more-img-4.png);
        }
        .images > div:not(:first-child){
            color: white;
            padding-top: 0rem;
        }
        .featured-properties{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            text-align: center;
            padding: 0 40px;
        }
        
        .hotels-bg{
            background-color: white;
            padding: 5px;
            margin: 20px 5vw;
        }
        .hotels-wrapper{
            position: relative;
            border: 2px solid black;
            width: 90%;
            margin: 20px auto;
            margin-top: 50px;
        }
        .top-icon {
            position: absolute;
            left: 50%;
            top: -25px;
            transform: translateX(-50%);
            padding: 5px;
            height: 50px;
        }
        .hotels{
            width: 100%;
            padding: 20px 0;
        }
        .hotels > div {
            display: flex;
            align-items: stretch;
            justify-content: center;
            flex-wrap: nowrap;
            gap: 0;
        }
        .hotels h3{
            text-align: center;
            margin-bottom: 10px;
        }
        .hotels img {
            height: 60px;
            max-width: 100%;
        }
        .luxury, .premium, .select, .longer-stay{
            flex-grow: 1;
            padding: 10px;
        }
        .premium{
            flex-grow: 2;
        }
        .select{
            flex-grow: 1.5;
        }
        .luxury > div, .premium > div, .select > div, .longer-stay > div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;
        }
        .luxury , .premium , .select{
            border-right: 1px solid black;
        }
        @media screen and (max-width: 768px) {
            .hotels > div {
                flex-wrap: wrap;
            }
            .luxury , .premium , .select, .longer-stay{
                border-right: none;
                border-bottom: 1px solid black;
                width: 100%;
            }
            .longer-stay {
                border-bottom: none;
            }
        }
        .footer-info, .footer-icons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .footer-info a, .footer-icons i {
            color: black;
            text-decoration: none;
            font-size: 22px;
            font-weight: bold;
            margin:0 10px;
        }
        .footer-icons i, .footer-info a:last-child i{
            color: brown;
            cursor: pointer;
            margin-bottom: 20px;
        }
        .footer-icons i:hover, .footer-info a:last-child i:hover{
            color: #e21010;
        }
        .footer-info a:not(:last-child):after{
            content: "ã†";
            margin-left: 20px;
        }
        .webview-link a{
            color: black;
            text-decoration: none;
            font-size: 18px;
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
        }
        .webview-section{
            text-align: center;
            margin: 15px 0;
        }
        .footer-copy{
            text-align: center;
            margin-top: 10px;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .unsubscribe-section{
            text-align: center;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
        }
        @media screen and (max-width: 768px) {
            header{
                flex-direction: column;
                gap: 10px;
            }
            .logo{
                order: -1;
            }
            .hero-top{
                height: 40vh;
            }
            .info{
                flex-direction: column;
            }
            .info img{
                margin-top: 3vh;
            }
        }
        @media screen and (max-width: 708px) {
            .images > div {
                height: 40vh;
            }
            .images{
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
            }
            .bottom-left {
                grid-row: span 1;
            }
        }
        @media screen and (max-width: 368px) {
            .info img{
                width: 100%;
            }
        }
